[submodule "WebSocketServer"]
	path = WebSocketServer
	url = https://github.com/LavaPod/WebSocketServer
[submodule "RestServer"]
	path = RestServer
	url = https://github.com/LavaPod/RestServer
[submodule "LavaPodler"]
	path = LavaPodler
	url = https://github.com/LavaPod/LavaPodler
